<div class="filtro">
<form action="">

    <!--Ubicación-->
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Ubicación</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Chubut">
    </div>

    <!--Sexo-->
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Sexo</label>
        <div class="d-flex gap-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Macho <i class="material-icons">male</i>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Hembra <i class="material-icons">female</i>
                </label>
            </div>
        </div>

    </div>

    <!--Tamaño-->
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Tamaño</label>

        <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected></option>
            <option value="1">Chico</option>
            <option value="2">Mediano</option>
            <option value="3">Grande</option>
        </select>
    </div>

    <!--Edad-->
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Edad</label>

        <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected></option>
            <option value="1">Cachorros</option>
            <option value="2">Jovenes (2-4 años)</option>
            <option value="3">Adultos (5-9 años)</option>
            <option value="4">Viejitos (+10 años)</option>
        </select>

    </div>

    <div class="boton-filtro d-flex">
        <i class="material-icons">delete</i>
        <input type="reset" class="boton-filtro"/>
    </div>

</form>
</div>