.filtro {
    margin: 0px;
    padding: 16px;

    border-radius: 4px 40px 40px 40px;
    border: 2.5px solid var(--Black, #222);
    background: var(--White, #F1F1F1);

    /* shadow navbar */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 50px 14px 0px rgba(51, 51, 51, 0.01), 0px 32px 13px 0px rgba(51, 51, 51, 0.05), 0px 18px 11px 0px rgba(51, 51, 51, 0.18), 0px 8px 8px 0px rgba(51, 51, 51, 0.30);
}

.form-control {
    border-radius: 48px !important;
    border: 2px solid var(--Black, #222) !important;
    background: var(--White, #F1F1F1);
}

.boton-filtro {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}