<div class="col-md-8 mx-auto filtro-general gap-4 ">
  <button class="filtrar" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-filter-circle fs-5"></i> Filtrar mascotas
  </button>

  <span class="ciudad fs-5">
    <i style="color: #e5a700" class="bi bi-geo-alt-fill"></i> <span></span>
    <i class="bi bi-caret-down-fill"></i>
  </span>

</div>

<!-- al expandir el filtro -->
<div class="collapse col-md-8 mx-auto " id="collapseExample">
  <div class="card card-body p-0">
    <div class="filtro">

      <!-- uso del formulario -->
      <form [formGroup]="formularioFiltro"  (ngSubmit)="aplicarFiltro()">
        <!--Ubicación-->
        <div class="d-flex gap-3 col-2 w-100">
          
          <div class="mb-3 col-6">
            <label for="provincia" class="form-label">Provincia</label>
            <select class="form-select form-select-lg mb-3" formControlName="provincia">
              <option selected>Todas</option>
              <option *ngFor="let provincia of provincias" [ngValue]="provincia.id">{{provincia.nombre}}</option>
              
            </select>
          </div>
  
          <div class="mb-3 col-6">
            <label for="departamento" class="form-label">Departamento</label>
            <select class="form-select form-select-lg mb-3" formControlName="departamento" aria-label="Departamento">
              <option value="">Todos</option>
              <option *ngFor="let departamento of departamentosFiltrados" [value]="departamento.id">{{ departamento.nombre }}</option>
            </select>
          </div>

        </div>

        <!-- Tipo -->
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Tipo</label>

          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Todos</option>
            <option value="1">Perro</option>
            <option value="2">Gato</option>
          </select>
        </div>


        <!--Sexo-->

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Sexo</label>

          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Todos</option>
            <option value="1">Macho</option>
            <option value="2">Hembra</option>
          </select>
        </div>



        <!--Tamaño-->
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Tamaño</label>

          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Todos</option>
            <option value="1">Chico</option>
            <option value="2">Mediano</option>
            <option value="3">Grande</option>
          </select>
        </div>

        <!--Edad-->
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Edad</label>

          <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Todos</option>
            <option value="1">Cachorros</option>
            <option value="2">Jovenes (2-4 años)</option>
            <option value="3">Adultos (5-9 años)</option>
            <option value="4">Viejitos (+10 años)</option>
          </select>
        </div>

        <div class="boton-filtro d-flex">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-lg"></i> Aplicar
          </button>

          <button type="reset" class="btn btn-secondary">
            <i class="bi bi-trash"></i> Restablecer
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
