.container-sm{
    border-radius: 48px;
    background: var(--Black, #222);
    width: 95%;
    height: 95px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 18px 16px 16px;
    margin-top: 48px;

    flex-shrink: 0;
}

.sticky-top{
    top:48px;
}

.btn-ingreso{
    background-color: #E5A700;
    border-radius: 32px;
}

.container-fluid{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    height: 100%;
}
