*{
    font-family: "Plus Jakarta Sans";
}

.container-fluid{
    display: flex;
    align-items: center;
    
}

h1{
    font-family: "Space Grotesk";
    color: #222222;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;

    text-align: center;

    margin-top: 64px;
    margin-bottom: 64px;
}

h3{
    color: var(--Marine, #4B88A2);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}


/*Carta*/
.card{
    padding: 16px;
    width: 300px;

    border-radius: 22px;
    background: var(--cards-gradient, linear-gradient(237deg, rgba(163, 12, 176, 0.20) 26.61%, rgba(17, 17, 17, 0.04) 59.46%), linear-gradient(0deg, rgba(51, 51, 51, 0.50) 0%, rgba(51, 51, 51, 0.50) 100%), linear-gradient(156deg, #B75016 22.53%, #22170F 89.17%));
}

.card img{
    border-radius: 20px;
}

.card-text{
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.card-body{
    padding: 0px;
}

.card-title{
    font-size: 28px; font-weight: 800;
    color: white;
    font-family: "Plus Jakarta Sans";
}

.boton-mas-info{
    border-radius: 32px;
    border: 2px solid var(--White, #F1F1F1);
    color: white;
}

.boton-adoptar{
    color: black;
    border-radius: 32px;
    background: var(--CTA, #E5A700);

    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -12px 28px 8px 0px rgba(0, 0, 0, 0.00), -8px 18px 8px 0px rgba(0, 0, 0, 0.03), -4px 10px 7px 0px rgba(0, 0, 0, 0.10), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
}


/*modal*/
.modal{
    margin: 0px !important;
    backdrop-filter: blur(10px);
}

.modal-dialog{
    padding: 0px !important;
    max-height: 100% !important;
}

.card-modal {
    padding: 32px 16px 24px 16px;

    border-radius: 22px;

    

    background-color: white;
    }
    
.card-modal-body {
    padding: 0px !important;
    margin: 0px;
}

.card-modal-text {
    color: black;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.card-modal img {
    border-radius: 20px;
    display: block;
    margin: auto;
}


.card-modal-title {
    color: var(--Black, #222);
    /* Titles/Titulos extra grandes */
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-modal-ubicacion {
    display: flex;

    color: var(--Black, #222);
    /* Titles/Titulos pequeños */
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.detalles-modal {
    color: var(--Black, #222);
    /* cuerpos y textos pequeños/Textos pequeños bold */
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detalles-modal p {
    margin: 0px;
}


.boton-cerrar {
    --bs-border-radius: 48px;

    display: flex;
    margin: 24px 0px 0px 0px;
    padding:8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.boton-adoptar {
    border-radius: 48px !important;

    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -12px 28px 8px 0px rgba(0, 0, 0, 0.00), -8px 18px 8px 0px rgba(0, 0, 0, 0.03), -4px 10px 7px 0px rgba(0, 0, 0, 0.10), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
    background: #E5A700 !important;
    padding: 8px 16px;

}