<!--
// v0 by Vercel.
// https://v0.dev/t/iTXoziMYyHi
-->

<div class=" text-center p-5">
    <img src="https://media.istockphoto.com/id/466570553/es/vector/perdido-perro-triste-ilustraci%C3%B3n-vectorial.jpg?s=170667a&w=0&k=20&c=CHxgkN9TciDt4-AMNrUFLiOe9DaK6aoBJN6RehBYfm4=" width="400" height="300" alt="404 Error"
        style="aspect-ratio: 400 / 300; object-fit: cover;" class="mb-8 max-w-[400px] rounded-xl object-cover" />
    <div class="text-center space-y-4">
        <h1 class="text-4xl font-bold tracking-tighter text-gray-900 dark:text-gray-50 sm:text-5xl">
            Oops! Page not found.
        </h1>
        <p class="max-w-[500px] text-gray-500 dark:text-gray-400 md:text-xl">The page you're looking </p>
        <a class="justify-center btn btn-primary" routerLink="">
            Go to Homepage
        </a>
    </div>
</div>