<div class="container-sm p-0 vh-100">
    
    <div class="banner bg-info p-24">
        
    </div>

    <div class="login">
        <h2>Iniciar sesión</h2>

        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
        </div>

        <div class="mb-3">
            <button type="submit" class=" btn iniciar-sesion" routerLink="/home-usuario">Iniciar sesión</button>
        </div>

        <div class="registrar d-flex justify-content-center gap-3">
            <h5>¿No tienes cuenta?</h5>
            <a href="">Registrarse</a>
        </div>

        <div class="registrar-google">
            <p>Iniciar sesión con Google</p>
            <button><img src="../../assets/google.png" alt="" style="width: 24px;"> Google</button>
        </div>

    </div>

</div>