.container-sm {
    border-radius: 48px;
    background: var(--Black, #222);
    width: 95%;
    height: 95px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-top: 48px;

    flex-shrink: 0;
}

.sticky-top {
    top: 48px;
}

.btn-ingreso {
    background-color: #E5A700 !important;
    border-radius: 32px !important;
}

.container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

.ubicacion {
    color: var(--White, #F1F1F1);

    /* cuerpos y textos pequeños/Textos pequeños */
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ubicacion img {}