.card {
    padding: 16px;

}

.card-body {
    padding: 0px;
}

.card-title {
    font-size: 28px;
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    color: var(--Black, #222);
    font-style: normal;
    line-height: normal;
}


.detalles-modal {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;

    color: var(--Black, #222);
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
}

.detalles-modal p {
    margin: 4px 0;
}

.boton-cerrar {
    --bs-border-radius: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.boton-adoptar {
    border-radius: 48px !important;

    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -12px 28px 8px 0px rgba(0, 0, 0, 0.00), -8px 18px 8px 0px rgba(0, 0, 0, 0.03), -4px 10px 7px 0px rgba(0, 0, 0, 0.10), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
    background: #E5A700 !important;
    padding: 8px 16px;

}