<app-navbar />

<!--Inicio-->
<div class="container">
    <h1 id="inicio">¿Quiénes <span style="color:#FF5E5B">somos</span>?</h1>

    <p class="about-subtitle">Somos la app que conecta humanos con mascotas sin hogar. Nuestro
        objetivo
        es priorizar el bienestar de todos los animales publicados en Lazzo.
    </p>

</div>

<!--About-->
<div class="about">

    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <img src="assets/gato.png" alt="" class="about-img">
        </div>

        <div class="col" style="max-width: 400px;">
            <h3>En <span style="color:#E5A700">Lazzo</span> nos mueve el amor y el respeto por los animales.</h3>
            <p class="fs-6 fs-md-5 fs-lg-4 about-text">
                <span class="b">Nuestra misión</span> es conectar personas con mascotas en busca de hogar, promoviendo
                la adopción responsable y el bienestar de nuestros vecinos de cuatro patas.
            </p>
        </div>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col" style="max-width: 400px;">
            <h3 class="text-end" style="color: #FF5E5B;">No somos un refugio.
                No adoptamos directamente.</h3>
            <p class="fs-6 fs-md-5 fs-lg-4 about-text text-end">Nuestra tarea es hacer que el proceso de adopción sea fácil,
                rápido y sin complicaciones.</p>

        </div>

        <div class="col-auto">
            <img src="assets/perro2.png" alt="" class="about-img">
        </div>
    </div>

    <div class="contacto text-center">
        <div class="duda">
            ¿Tienes mas dudas? Charlemos...
        </div>

        <!--Link a chat de Whatsapp o correo-->
        <div class="btn btn-warning rounded-pill w-100" style="max-width: 400px;"><a href="mailto:soysantiago@gmail.com" style="text-decoration: none;color: inherit;">Contactar con representante</a></div>
    </div>

</div>

<app-footer></app-footer>