*{
    font-family: "Plus Jakarta Sans";
}

.container-fluid{
    display: flex;
    align-items: center;
    
}

h1{
    font-family: "Space Grotesk";
    color: #222222;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;

    text-align: center;

    margin-top: 64px;
    margin-bottom: 64px;
}

h3{
    color: var(--Marine, #4B88A2);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}