<app-navbar-usuario></app-navbar-usuario>

<div class="contenedor-principal">

    <!--Inicio-->
    <div class="container">
        <h1>En <span style="color:#4B88A2">Lazzo</span> un amigo espera</h1>
    
        <h4>Aquí podrás publicar las mascotas que quieras dar en adopción</h4>
    </div>
    
    <!--Formulario-->
    <h3>Datos de la mascota</h3>
    <h4 style="font-weight: bolder;text-align: left;" class="font-weight-bold">¿Qué deseas publicar?</h4>


    <div class="filtro">
        <form [formGroup]="publicarMascotaForm" (ngSubmit)="registrarMascota()">
            <!--Tipo-->
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <div class="d-flex gap-4">
                    <div class="form-check">
                        <input formControlName="tipo" value="perro"
                        class="form-check-input" type="radio" name="tipo" id="tipo">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Perro
                        </label>
                    </div>
                    <div class="form-check">
                        <input formControlName="tipo" value="gato"
                         class="form-check-input" type="radio" name="tipo" id="tipo">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Gato
                        </label>
                    </div>
                </div>
        
            </div>

            <!--Nombre-->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input formControlName="nombre"
                type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre de la mascota">
            </div>
            
            <!--Sexo-->
            <div class="mb-3">
                <label for="sexo" class="form-label">Sexo</label>
                <div class="d-flex gap-4">
                    <div class="form-check">
                        <input formControlName="sexo" value="macho"
                         class="form-check-input" type="radio" name="sexo" id="sexo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Macho <i class="material-icons">male</i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input formControlName="sexo" value="hembra"
                         class="form-check-input" type="radio" name="sexo" id="sexo">
                        <label class="form-check-label" for="sexo">
                            Hembra <i class="material-icons">female</i>
                        </label>
                    </div>
                </div>
        
            </div>
        
            <!--Tamaño-->
            <div class="mb-3">
                <label class="form-label">Tamaño</label>
        
                <select formControlName="tamanio"
                 class="form-select form-select-lg mb-3" aria-label="Large select example">
                    <option selected></option>
                    <option value="chico">Chico</option>
                    <option value="mediano">Mediano</option>
                    <option value="grande">Grande</option>
                </select>
            </div>
        
            <!--Edad-->
            <div class="mb-3">
                <label class="form-label">Edad</label>
        
                <select formControlName="edad"
                 class="form-select form-select-lg mb-3">
                    <option selected></option>
                    <option value="cachorros">Cachorros</option>
                    <option value="Jovenes (2-4 años)">Jovenes (2-4 años)</option>
                    <option value="Adultos (5-9 años)">Adultos (5-9 años)</option>
                    <option value="Viejitos (+10 años)">Viejitos (+10 años)</option>
                </select>
        
            </div>

                    
            <!--Ubicación-->
            <div class="mb-3">
              
                <!--Provincia-->
                <select formControlName="provincia" class="dropdown-toggle input-whatsapp w-100">
                    <option class="dropdown-item" value="" disabled selected>Provincia</option>
                    <option class="dropdown-item" *ngFor="let provincia of provincias" [ngValue]="provincia.id">{{provincia.nombre}}</option>
                </select>
 
            </div>
            
            <div class="mb-3" *ngIf="tocado">
                <!--departamento-->
                <select 
                formControlName="departamento" 
                class="dropdown-toggle ms-1 input-whatsapp w-100"
                
                >
                    <option class="dropdown-item" value="" disabled selected>departamento</option>
    
                    <option class="dropdown-item" *ngFor="let departamento of departamentos" [ngValue]="departamento.id">{{departamento.nombre}}</option>
                </select>
            </div>
            
            
            <!--Descripción-->
            <textarea formControlName="descripcion"
             class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese una breve descripción..." style="border-radius: 16px !important;"></textarea>
            
            <!--Subir foto-->
            <input formControlName="urlImagen"
            type="file"  class="file-upload-input mb-3" data-mdb-file-upload-init="" accept="" autocompleted="">

            <!--Politicas-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="politicas">
                <label class="form-check-label" for="politicas">
                  <p class="politicas">Conozco y acepto las <a href="">políticas y buenas practicas de adopción de Lazzo.</a></p>
                </label>
            </div>

            <!--Botones-->
            <div class="mb-3">
                <button type="submit" class=" btn iniciar-sesion" routerLink="/mascotas">Publicar</button>
            </div>
            
            <div class="boton-filtro d-flex">
                <i class="material-icons">close</i>
                <button class="boton-filtro">Volver</button>
            </div>
        </form>
        </div>


</div>

<app-footer-dark/>