.contenedor-principal{
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Space Grotesk";
    color: #222222;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;

    text-align: center;

    margin-top: 64px;
    margin-bottom: 64px;
}

h3 {
    color: black;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;

    margin-bottom: 16px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 64px;
    color: var(--Black, #222);
    text-align: center;

    /* cuerpos y textos pequeños/Cuerpos normales */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input, select{
    height: 56px;
    border-radius: 48px !important;
    border: 2px solid var(--Black, #222);
    background: var(--White, #F1F1F1);
}

.iniciar-sesion{
        margin-top: 24px;
        height: 55px;
        width: 100%;

        border-radius: 48px;
        background: var(--CTA, #E5A700);
        
        /* shadow buttons */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -12px 28px 8px 0px rgba(0, 0, 0, 0.00), -8px 18px 8px 0px rgba(0, 0, 0, 0.03), -4px 10px 7px 0px rgba(0, 0, 0, 0.10), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
}

.divisor{
    display: flex;
    justify-content: center;
}

hr{
    width: 191px;
    height: 2px;
}

.filtro {
    margin: 0px;
    padding: 16px;

    border: 2.5px solid var(--Black, #222);
    background: var(--White, #F1F1F1);

    /* shadow navbar */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 50px 14px 0px rgba(51, 51, 51, 0.01), 0px 32px 13px 0px rgba(51, 51, 51, 0.05), 0px 18px 11px 0px rgba(51, 51, 51, 0.18), 0px 8px 8px 0px rgba(51, 51, 51, 0.30);
}

.form-control {
    border-radius: 48px !important;
    border: 2px solid var(--Black, #222) !important;
    background: var(--White, #F1F1F1);
}

.form-check-input{
    height: 16px;
}

.boton-filtro {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.file-upload-input {
    width: 100%;
    height: 200px;
    cursor: pointer;

    border-radius: 8px !important;
    border: 2px solid var(--Black, #222);
    background: var(--grey-bg, #D9D9D9);
}

.politicas{
    color: var(--Black, #222);

    /* cuerpos y textos pequeños/Cuerpos normales */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.politicas a{
    text-decoration: none;
    color: blue;
}