<app-navbar/>

<!--Inicio-->
<div class="container">
  <h1>En <span style="color:#4B88A2">Lazzo</span> un amigo espera</h1>

  <h3 class="mx-3" style="text-align: center;">En busca de un hogar</h3>

  <app-carrusel></app-carrusel>
</div>

<!--About-->
<div class="about">

  <div class="row about-titulo d-flex justify-content-center">
    ¿Quiénes somos?
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col" style="max-width: 400px;">
      <p class="fs-6 fs-md-5 fs-lg-4 about-text">Somos la app que conecta humanos con mascotas sin hogar. Nuestro objetivo
        es priorizar el bienestar de todos los animales publicados en Lazzo.
        No somos un refugio.
        No adoptamos directamente.
        ¿Quieres saber mas?
      </p>

      <div class="btn btn-warning rounded-pill" routerLink="/saber-mas">Conocenos</div>
    </div>

    <div class="col-auto">
      <img src="assets/about.png" alt="" class="about-img">
    </div>
  </div>

</div>

<!--Funcionamiento-->
<div class="funcionamiento">
  
  <img src="assets/funcionamiento.png" alt="" class="d-block mx-auto container-sm" style="max-width: 600px;">

  <h3 class="d-block text-center" id="como-funciona">¿Cómo funciona Lazzo?</h3>

    <div class="funcionamiento-text">
      <ul>
        <li>Explora mascotas filtrando por ubicación, edad, tamaño y sexo.</li>
        <li>Contacta con el refugio y coordina un encuentro.</li>
        <li>Después de una reunión exitosa, podrás llevarte a tu nueva mascota a casa.</li>
      </ul>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <img style="max-width: 187px;" src="assets/siquieresdarenadopcion.jpeg" alt="">
      </div>
      <div class="col" style="max-width: 400px;">
        <h3>Si quieres dar en adopción:</h3>
        <p class="fs-6 fs-md-5 fs-lg-4 about-text">Regístrate como refugio y promociona a tus protegidos.
          Las mascotas estarán disponibles para ser vistas por posibles adoptantes.
        </p>
      </div>

    <!--Adoptar y dar en adopción-->
    <div class="container-fluid justify-content-center gx-5" style="margin-top: 32px;">
      
      <div class="btn btn-warning rounded-pill funcionamiento-botones me-2">Adoptar</div>

      <div class="btn btn-warning rounded-pill funcionamiento-botones">Dar en adopción</div>
    </div>
  
    </div>

</div>

<!--Adoptados-->
<div class="adoptados">
  <div class="about-titulo d-flex justify-content-center m-0">Galería de adoptados</div>

  <p class="funcionamiento-text text-light d-flex justify-content-center mx-auto">
    Fotos que nos llegan de nuestros amigos desde sus nuevos hogares
  </p>

  <div id="carouselAdoptados" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner justify-content-center">

      <div class="carousel-item active adoptado-item ">
        <img src="assets/adoptado1.jpeg"  alt="" class="d-block mx-auto">
      </div>
      <div class="carousel-item adoptado-item">
        <img src="assets/adoptado.png" class="d-block mx-auto" alt="...">
      </div>
      <div class="carousel-item adoptado-item">
        <img src="assets/adoptado2.jpg" class="d-block mx-auto" alt="...">
      </div>

    </div>
  </div>

  </div>

<app-footer></app-footer>  