<!--Footer Dark-->
<footer>
    <h5 class="card-title"><a routerLink="/home">Lazzo</a></h5>

    <div class="footer-content ">

        <div class="container-fluid justify-content-center">
            <div class="footer-text me-2"><a routerLink="/adoptar">Adoptar</a></div>
            <div class="footer-text"><a routerLink="/dar-en-adopcion">Dar en adopción</a></div>
        </div>

        <div class="container-fluid justify-content-center">
            <div class="footer-text me-2"><a routerLink="/saber-mas">¿Quiénes somos?</a></div>
            <div class="footer-text"><a routerLink="/home" fragment="como-funciona">¿Cómo funciona Lazzo?</a></div>
        </div>

        <div class="container-fluid justify-content-center" style="margin-top: 40px;">
            <div class="footer-secundario me-2"><a href="">© 2024 Lazzo</a></div>
            <div class="footer-secundario me-2"><a href="">Términos y condiciones</a></div>
            <div class="footer-secundario me-2"><a href="">Privacidad</a></div>
            <div class="footer-secundario me-2"><a href="">Cookies</a></div>
        </div>

    </div>

</footer>